<div>
  
    <h1>Ecommerce</h1>
    
<table class="table">
  <thead>
    <tr>
      
      <th scope="col">title</th>
      <th scope="col">model</th>
      <th scope="col">image</th>
      <th scope="col">precio</th>
      <th scope="col">code</th>
      <th scope="col">stock</th>
    </tr>
  </thead>

{{#each products}}
<tr>
   
    <b> {{ this.title }}</b>
    <b> {{ this.model }}</b>
    <b> {{ this.id }}</b>
    <img wdth= "50" src="{{ this.image}}">
    <i> {{ this.price }}</i>
    <i> {{ this.code }}</i>
    <i> {{ this.stock }}</i>
</tr>
    
</a>
{{/each}} 
</table> 
</div>

<style>
    table,
    th,
    tr {
        border: 1px solid;
    }
    .title {
        text-align: center;
    }
    .product-list {
        width: 100%;
    }
</style>